.wrap{
    background: rgb(32, 88, 140);
    width: 600px;
    height: 55px;
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
}
.header{
    background: #2b7fce;
    width: 600px;
    height: 70px;
}
.menu{
    background: #5d76b7;
    width: 200px;
    height: 300px;
}
.post1{
    background: #1db2e5;
    width: 400px;
    height: 300px;
}
.footer{
    background: #14d7d7;
    width: 600px;
    height: 55px;
}
