.wrap{
    width: 600px;
    padding: 5px;
    margin: 0 auto;

}
.header{
    background: #ef005c;
    width: 600px;
    height: 230px;
}
.menu{
    background: #ff4c00;
    width: 180px;
    height: 230px;
    display: flex;
    justify-content: space-between;
}
.contact{
    background: #413f3f;
    width: 600px;
    height: 400px;
}
.main{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 180px;
}
